html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-display);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
