.notion {
  color: var(--color-text-primary);
}

@media (--breakpoint-sm) {
  .notion {
    font-size: 1.125rem;
  }
}

.notion-blank {
  display: none;
}

.notion-h1,
.notion-h2,
.notion-h3 {
  font-family: var(--font-family-display);
  line-height: 1.6;
  white-space: pre-wrap;
}

.notion-h2 {
  margin-top: 1.25em;
}

.notion-h3 {
  margin-top: 1.5em;
}

.notion-h2 + .notion-h3 {
  margin-top: 1em;
}

.notion-text,
.notion-list,
.notion-quote {
  font-family: var(--font-family-body);
}

.notion-text {
  margin: 1em 0;
  line-height: 1.8;
}

:not(.notion-list) + .notion-list {
  margin-top: 1em;
}

.notion-list > li {
  padding: 0.25em 0;
}

.notion-quote {
  margin: 1em 0;
  font-family: var(--font-family-body);
  font-style: italic;
  font-size: 140%;
}

.notion-callout {
  margin: 1em 0;
}

.notion-callout-text {
  font-family: var(--font-family-body);
  font-size: 110%;
  font-style: italic;
  line-height: 1.6;
}

.notion-callout > div:first-child {
  display: none;
}

.notion-image-caption {
  text-align: center;
  color: var(--color-text-secondary);
}

.notion-callout,
.notion-image-inset,
.notion-code {
  border-radius: 6px;
}

@media (--breakpoint-sm) {
  .notion-callout,
  .notion-image-inset,
  .notion-code {
    border-radius: 8px;
  }
}

.notion-code-root {
  margin: 2em 0;
}

.notion-code {
  margin: 0;
  padding: 1.75em 1.5em;
  border-radius: 6px;
  font-size: 75% !important;
}

.notion-inline-code {
  color: var(--color-inline-code);
}
