:root {
  /* Typography */
  --font-family-display: 'IBM Plex Sans', -apple-system, sans-serif;
  --font-family-body: var(--font-family-display);

  /* Layout */
  --space-page-margin-xs: 22px;
  --space-page-margin-sm: 30px;

  /* Gruvbox palette (https://github.com/morhetz/gruvbox) */
  --color-gruvbox-dark0-soft: #32302f;
  --color-gruvbox-light1: #ebdbb2;
  --color-gruvbox-light4: #a89984;
  --color-gruvbox-bright-red: #fb4934;
  --color-gruvbox-bright-green: #b8bb26;
  --color-gruvbox-bright-yellow: #fabd2f;
  --color-gruvbox-bright-blue: #83a598;
  --color-gruvbox-bright-purple: #d3869b;
  --color-gruvbox-bright-aqua: #8ec07c;

  /* Colours */
  --color-grey-lightest: #ddd;
  --color-background: white;
  --color-header: rgba(255, 255, 255, 0.95);
  --color-text-primary: #37352f;
  --color-text-secondary: #b3b3b3;
  --color-code-background: var(--color-gruvbox-dark0-soft);
  --color-inline-code: var(--color-gruvbox-bright-red);
  --color-link-underline: var(--color-grey-lightest);
  --color-divider: var(--color-grey-lightest);
}

.dark-mode {
  /* Colours */
  --color-grey-lightest: #777;
  --color-background: #222;
  --color-header: rgba(34, 34, 34, 0.95);
  --color-text-primary: #eee;
  --color-text-secondary: #eee;
  --color-inline-code: var(--color-gruvbox-bright-aqua);
  --color-link-underline: var(--color-grey-lightest);
  --color-divider: var(--color-grey-lightest);
}
