.header {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--space-page-margin-xs);
  background-color: var(--color-header);
  z-index: 100;
}

@media (--breakpoint-sm) {
  .header {
    padding: 25px var(--space-page-margin-sm);
  }
}

.title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-text-primary);
}

.button {
  display: flex;
  padding: 2px;
  border: 0;
  background: none;
  cursor: pointer;
}

.title:hover,
.button:hover {
  opacity: 0.8;
}

.icon {
  fill: var(--color-text-primary);
}
